{% extends 'base.html' %}

{% block content %}
This is the template file for a post.<p>

  <small><a href="{{ object["_parent"]["_url"] }}">back to {{ object["_parent"]["name"] }}</a></small>

  <h1>{{ object["_basename"] }}</h1>

  <p>{{ object["_contents"]|safe }}</p>

{% endblock content %}
